body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

    --h1-size: 2.6em;
    --h2-size: 2em;
    --h3-size: 1.25em;
    --h4-size: 1.12em;
    --h5-size: 1.12em;
    --h6-size: 1.12em;
}
